* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(230, 100, 0, 0.1);
}

.app_container {
  display: flex;
  height: 620px;
  width: 600px;
  flex-direction: column;
  padding: 10px 50px;
  border: 2px solid black;
  background-color: white;
  box-shadow: 10px 10px rgba(230, 100, 0, 0.2);
  border-radius: 10px;
  overflow-y: auto;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form > form, .Form > form > input {
  margin: 10px auto 10px auto;
  height: 30px;
  width: 100%;
}

.Form > form > input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

.List {
  display:flex;
  flex-direction: column;
  min-height: 500px;
}

ul {
  width: 100%;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 30px;
  width: 100%;
  margin: 20px 0px;
}

.ListItem:hover {
  cursor: default;
}

.Checkbox {
  height: auto;
  width: 35px;
}

.ListItem {
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin: auto 10px auto 10px;
  padding: 10px;
  border: none;
}

.Filter {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-bottom: 15px;
  font-size: 15px;
}

.danger {
  color: white;
  background-color: rgba(255, 60, 50, 0.5);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: auto;
  height: auto;
  border: 2px solid rgba(230, 100, 0, 0.4);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 15px;
}

button:not(:last-child) {
  margin-left: 15px;
}

button:last-child {
  margin-left: auto;
}

.destroy {
  height: auto;
  width: 35px;
  margin: auto 0 auto auto;
}

.Completed {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}